.drop-down-toggle {
    min-width: 200px;
    line-height: 2rem;
    cursor: pointer;
    background: $clr_white;

    i {
      float: left;
      vertical-align: middle;
      line-height: 2rem;
    }
}

ul.drop-down {
    display: block;
    min-width: 200px;
    height: 300px;
    overflow-y: auto;
    position: absolute;
    top: auto;
    left: -50000px;
    z-index: 1000;
    list-style-type: none;
    padding: ($b / 2);
    margin: 0;
    background: $clr_white;
    &.is-active {
        left: auto;
    }

    li {
        display: block;

        &:hover {
            cursor: pointer;
            a {
                color: #4a4a4e;

                &:after {
                    width: 60px;
                }
            }
        }

        a {

            color: #8a8a8e;
            text-align: left;
            text-decoration: none;
            display: block;
            padding: 16px;
            position: relative;

            &.is-active {
                color: #4a4a4e;
            }

        }
    }
}
