html {
  font-size: $b;
}

html * {
  box-sizing: border-box;
}
body {
  background: $clr_grey-lt;
  margin: 0;
  padding: 0;
  font-family: $font_face-main;
  font-size: $b;
  color: $clr_grey-dk;
}

.grid {
  display: block;
  max-width: 1440px;
  padding: ($b / 2);
  margin: 0 auto;
}

/*Header Contents*/
