.card-post {
    display: inline-block;
    vertical-align: top;
    max-width: 300px;
    font-size: 0;
    margin: $b ($b / 2);
    padding: 0;
    background: $clr_white;
    position: relative;
    box-shadow: 0 0 8px rgba($clr_black, 0.2);
    text-align: left;

    header {
      position: relative;
      z-index: 1;
    }
    h2 {
      position: absolute;
      bottom: 0;
      z-index: 10;
      background: rgba($clr_black, 0.32);
      font-size: 2rem;
      line-height: 1;
      padding: $b;
      margin: 0;
      width: 100%;
      color: $clr_white;
    }

    cite,
    img {
        display: block;
    }

    img {
        position: relative;
        padding: 0;
        margin: 0;
        vertical-align: top;
        width: 100%;
        height: 300px;
        object-fit: cover;
        z-index: 2;
    }

    cite {
        font-size: $b;
        padding: ($b / 2) $b;
        width: 100%;
        font-style: normal;
    }

}

.card-track audio {
  position: absolute;
  left: -50000px;
}

.card-track .audio-controls {
  display: block;
  background: $clr_grey-dk;
  text-align: center;
}

.card-track .audio-controls button {
  margin: 0 auto;
  background: none;
}

.card-track .audio-controls button i:before {
  border-color: rgba(0,0,0,0);
}

.card-track .audio-controls progress {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: $b;
  transition: ease-in 50ms;
  position: relative;
}

.card-track .audio-controls progress:before {
  content: attr(data-progress);
  position: absolute;
  top: 0;
  left: $b;
  font-size: ($b / 1.5);
  line-height: $b;
  color: $clr_grey-dk;
  font-family: monospace;
}

.card-track .audio-controls progress:after {
  content: attr(data-remaining);
  position: absolute;
  top: 0;
  right: $b;
  font-size: ($b / 1.5);
  line-height: $b;
  color: $clr_grey-dk;
  font-family: monospace;
}

.card-track progress[value]::-webkit-progress-bar {
  background: $clr_white;
}

.card-track progress[value]::-webkit-progress-value {
  background: rgba($clr_grey-dk, 0.32);
}
