@import url("//fonts.googleapis.com/css?family=Inconsolata");
@import url("//fonts.googleapis.com/icon?family=Material+Icons");


$clr_white: #fafafe;
$clr_grey-lt: #eaeaee;
$clr_grey-dk: #4a4a4e;
$clr_black: #2a2a2e;

$b: 16px;

$font_face-main: 'Inconsolata', Arial, Helvetica, sans-serif;
