@import url("//fonts.googleapis.com/css?family=Arsenal");

$clr_white: #fafafe;
$clr_grey-lt: #eaeaee;
$clr_grey-dk: #4a4a4e;
$clr_black: #2a2a2e;

$b: 16px;

$font_face-main: 'Arsenal', Arial, Helvetica, sans-serif;
