html * { box-sizing: border-box; }

body { background: #eeefef; margin: 0; padding: 0; font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; font-size: 14px; color: #666; }

main { display: block; width: 100%; padding: 10px; }

/*Header Contents*/
header { padding: 20px; }

/*Footer Contents*/
footer { padding: 20px; }

footer cite { display: inline-block; padding: 0 30px; height: 60px; line-height: 60px; font-style: normal; background: #fff; border: 2px solid #1ed760; border-radius: 30px; }

footer cite img { display: inline-block; border-radius: 50%; width: 30px; height: 30px; margin: 15px 15px 15px 0; vertical-align: middle; }

footer cite a { color: #1ED760; text-decoration: none; text-transform: uppercase; }

/*Playlist Wrapper*/
.playlister_wrapper { display: inline-block; vertical-align: top; font-size: 0; text-align: center; }

.track_wrapper { display: inline-block; vertical-align: top; max-width: 300px; font-size: 0; margin: 20px 10px; padding: 10px; background: #fefefe; position: relative; box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); text-align: left; }

.track_wrapper cite, .track_wrapper img { display: block; }

.track_wrapper img { padding: 0; margin: 0; vertical-align: top; width: 100%; height: 300px; object-fit: cover; }

.track_wrapper cite { font-size: 14px; padding: 5px; width: 100%; font-style: normal; }

.track_wrapper audio { position: absolute; left: -50000px; }

.track_wrapper .audio-controls { display: block; font-size: 20px; }

.track_wrapper .audio-controls progress { -webkit-appearance: none; appearance: none; width: 100%; height: 5px; transition: ease-in 100ms; }

.track_wrapper progress[value]::-webkit-progress-bar { background: #e8e8e8; box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2); }

.track_wrapper progress[value]::-webkit-progress-value { background: linear-gradient(to left, #a00, #f00); }

/*------------------------------------*  #BUTTON--NORMALISE
\*------------------------------------*/
/* Buttons are to be used when the result of the interaction occurs on the same page. Buttons should not be used for page links or submitting a form _to a different page_ */
button { -webkit-appearance: none; -webkit-font-smoothing: antialiased; -webkit-tap-highlight-color: rgba(255, 255, 255, 0); -webkit-tap-highlight-color: transparent; border: none; }

button::-moz-focus-inner, input::-moz-focus-inner, select::-moz-focus-inner, textarea::-moz-focus-inner { border: 0; }

button:focus, input:focus, select:focus, textarea:focus { outline: 0; }

.audio-controls button { background: #a00; color: #fff; font-size: 0; font-weight: bold; margin: 10px 0; cursor: pointer; }

.audio-controls button:after { display: block; font-family: FontAwesome; font-size: 15px; padding: 10px 20px; line-height: 15px; }

.audio-controls button[data-state="play"]:after { content: "\f04b"; }

.audio-controls button[data-state="pause"]:after { content: "\f04c"; }

.audio-controls button:hover { background-color: #c40000; }
