<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <script id="trackTemplate" type="text/html">
        <article class="card-post card-track">
            <div class="inner">
                <header><img src="{{art}}" />
                    <h2>{{artist}}</h2></header>
                <div class="content">
                  <cite>
                    <strong>Album: </strong>{{album}}<br/>
                    <strong>Track: </strong>{{name}}
                  </cite>
                  <div class="audio-controls">
                    <progress max="30" value="0" data-progress="" data-remaining=""></progress><br />
                    <button data-state="play"><i class="icon-play"></i></button>
                  </div>
                  <audio controls><source src="{{url}}" type="audio/mpeg">Your browser does not support the audio element.</audio></div>
            </div>
        </article>
    </script>

</body>

</html>
